.ItemDefaultClass {
    width: 200px;
    padding: 20px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    margin: 10px;
    background: rgba(70, 130, 180, 0.7);
}

.ItemFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

