.DropZone {
    height: 100%;
    border-right : 1px dashed #ccc;
    position: relative;
    z-index: 2;
}

.DropZone .Day {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}