.TimelineDefaultClass {
    width: 90%;
    min-height: 300px;
    height: auto;
    border: 1px solid #ccc;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: all .3s ease-in;
}


