.GroupItemsGrid {
    display: flex;
    flex-direction: row;
}

.Groups {
    flex-grow: 0;
    flex-shrink: 0;
    background: white;
    position: sticky;
    left: 0;
    z-index: 300;
    border-bottom: 1px solid #f1f1f1;
}

.Item {
    height: 100%;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #7787a8;
}
