.DaysGrid {
    height: 100%;
}

.DropZones {
    position: absolute;
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in-out;
    user-select: none;
    border: 1px none #f1f1f1;
    box-sizing: border-box;
}


.Month {
    position: absolute;
    top: 0;
    height: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7787a8;
    border: 1px none #f1f1f1;
    border-bottom-style: solid;
    border-left-style: solid;
    box-sizing: border-box;
}

