
.Content {
  width: 90%;
  margin: auto;
}

.Elements {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.Timeline {
  margin-top: 30px;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The Slider */
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgRound-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  backgRound-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .Slider {
  backgRound-color: #2196F3;
}

input:focus + .Slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .Slider:before {
  transform: translateX(20px);
}

/* Rounded Sliders */
.Slider.Round {
  border-radius: 20px;
}

.Slider.Round:before {
  border-radius: 50%;
}

.ScrollEnabler{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}